image:
  repository: ${prometheus-nats-exporter.registry}/${prometheus-nats-exporter.repository}
  tag: ${prometheus-nats-exporter.tag}@${prometheus-nats-exporter.digest}

podSecurityContext:
  fsGroup: 65532
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532

securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
