server:
  uid: 65532
  gid: 65532
  image:
    repository: ${vault-compat.registry}/${vault-compat.repository}
    tag: ${vault-compat.tag}
  statefulSet:
    securityContext:
      container:
        capabilities:
          add:
            - IPC_LOCK

injector:
  uid: 65532
  gid: 65532
  agentImage:
    repository: ${vault-compat.registry}/${vault-compat.repository}
    tag: ${vault-compat.tag}@${vault-compat.digest}
  image:
    repository: ${vault-k8s.registry}/${vault-k8s.repository}
    tag: ${vault-k8s.tag}@${vault-k8s.digest}

csi:
  daemonSet:
    securityContext:
      pod:
        fsGroup: 65532
      container:
        capabilities:
          add:
            - IPC_LOCK
        # TODO: Fix csi provider to work as non-root
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
  image:
    repository: ${vault-csi-provider.registry}/${vault-csi-provider.repository}
    tag: ${vault-csi-provider.tag}@${vault-csi-provider.digest}
  agent:
    securityContext:
      container:
        capabilities:
          add:
            - IPC_LOCK
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
    image:
      repository: ${vault.registry}/${vault.repository}
      tag: ${vault.tag}@${vault.digest}
