image:
  repository: ${haproxy.registry}/${haproxy.repository}
  tag: ${haproxy.tag}@${haproxy.digest}

podSecurityContext:
  fsGroup: 65532
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
