image:
  registry: ${dex.registry}
  repository: ${dex.registry}/${dex.repository}
  tag: ${dex.tag}@${dex.digest}

securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532

podSecurityContext:
  fsGroup: 65532
